@model IEnumerable<ContasPagar>

@{
    ViewData["Title"] = "Lista de Contas a Pagar";
}

<div class="text-center">
    <h1 class="display-4">Lista de Contas a Pagar</h1>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Data de Vencimento</th>
                <th>Status</th>
                <th>Fornecedor</th>
                <th>Categoria</th>
                <th>Observações</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var conta in Model)
            {
                <tr>
                    <td>@conta.Descricao</td>
                    <td>@conta.Valor</td>
                    <td>@conta.DataVencimento.ToString("dd/MM/yyyy")</td>
                    <td>@conta.Status</td>
                    <td>@conta.Fornecedor</td>
                    <td>@conta.Categoria</td>
                    <td>@conta.Observacoes</td>
                    <td>
                        <!-- Adicionar links ou botões para editar ou excluir -->
                        <div class="d-flex">
                            <a href="@Url.Action("Editar", new { id = conta.Id })" class="btn btn-warning btn-sm custom-margin">Editar</a>
                            <a href="@Url.Action("Excluir", new { id = conta.Id })" class="btn btn-danger btn-sm">Excluir</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
